html, body {
    /*overflow: hidden; /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px
}
.container{
    padding: 10px;
}
.wrapper{
    width: 90%;
    height: 650px;
    margin: 0 auto;
}